.checkbox{
 
}

.clearButton{
    background-color: darkred;
    color: black;
    font-weight: bolder;
}

.backspaceButton{
    background-color: gray;
    color: darkred;
}

.operatorButton{
    background-color: grey;
    color: lightgreen;
}

.enterButton{
    background-color: green;
    color: black;
}

.numberButton{
    background-color: grey;
    color: black;
}

.signChangeButton{
    background-color: grey;
    color: lightblue;
}

.decimalButton{
    background-color: grey;
    color: black;
}