.checkbox{
    
}
.row1, .row2, .row3, .row4, .row5{
    display: flex;
    justify-content: center;
}

.displayWindow{
    height: 15px;
    display: flex;
    justify-content: center;
}
.clearButton{
    background-color: darkred;
    color: black;
    font-weight: bolder;
}

.backspaceButton{
    background-color: gray;
    color: darkred;
}

.operatorButton{
    background-color: grey;
    color: lightgreen;
}

.enterButton{
    background-color: green;
    color: black;
}

.numberButton{
    background-color: grey;
    color: black;
}

.signChangeButton{
    background-color: grey;
    color: lightblue;
}

.decimalButton{
    background-color: grey;
    color: black;
}