/*Notes
Style the HTML buttons in the form of a calculator
Different colors for the numbers, operators, clear, backspace, and enter buttons
checkbox
clearButton Red back, gray text
backspaceButton gray back, red text
operatorButton grey back, green text
enterButton green back, white text
numberButton grey back, white text
signChangeButton grey back, blue text, flash pink on click
decimalButton grey back, white text
*/

/*.checkbox{
 
}
*/
.clearButton{
    background-color: darkred;
    color: black;
    font-weight: bolder;
}

.backspaceButton{
    background-color: gray;
    color: darkred;
}

.operatorButton{

}

.enterButton{

}

.numberButton{

}

.signChangeButton{

}

.decimalButton{

}